[Unit]
Description=Activate zram

[Service]
Type=oneshot
ExecStart=/home/giovane/scripts/raspberry/zram start
ExecStop=/home/giovane/scripts/raspberry/zram stop

[Install]
WantedBy=multi-user.target
